@keyframes animate {
  0% {
    box-shadow: 0 0 4px 2px #12d8fa;
  }
  25% {
    box-shadow: 0 0 4px 6px #a6ffcb;
  }
  50% {
    box-shadow: 0 0 4px 2px #12d8fa;
  }
  75% {
    box-shadow: 0 0 4px 6px #a5fecb;
  }
  100% {
    box-shadow: 0 0 4px 2px #a6ffcb;
  }
}
@media (min-width: 360px) {
  .password-form {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0 auto;
    padding: 40px;
    width: 300px;
  }

  .password-form--visible-password {
    cursor: pointer;
  }
  .password-form-btn {
    color: white;
    margin: 0 auto;
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);

    outline: none;
    border-radius: 20px;
  }
  .password-form-btn:hover {
    animation: animate 4s linear infinite alternate;
  }
}
