@import './fonts.css';

html {
  box-sizing: border-box;
  /* background: linear-gradient(
    to bottom,
    rgba(41, 128, 185, 0.2),
    rgba(109, 213, 250, 0.3),
    rgba(255, 255, 255, 0.3)
  ); */
  background-color: rgba(109, 213, 250, 0.2);
}
html,
body {
}

body {
  /* overflow: hidden; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
#root {
  font-family: 'Poppins', sans-serif;
}
