.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  border-right: 1px solid #4183d7;
  background: linear-gradient(
    to top,
    #8360c3,
    #2ebf91
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 225px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-align: center;
}

.sidebar-nav li h3 {
  display: block;
  text-decoration: none;
  color: #999999;
  text-transform: uppercase;
}

.sidebar-nav li h3:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 33%;
  }
  .sidebar-wrapper {
    width: 30%;
  }
  #page-content-wrapper {
    /* padding-left: 500px; */
    padding: 20px;
    position: relative;
  }

  .profile {
    margin: 20px 0;
  }

  .profile-userpic {
    padding-top: 30px;
  }

  .profile-userpic img {
    display: block;
    border-radius: 50%;
    padding: 5px;
    background: #4183d7;
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }

  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
    overflow-wrap: break-word;
    color: #fff;
  }

  .profile-usertitle-name {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 7px;
    text-align: center;
  }

  .profile-usertitle-job {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
  }

  .profile-userbuttons {
    display: flex;
    justify-content: center;
  }

  .profile-logout-btn {
    display: block;
    vertical-align: middle;
    margin: auto;
    width: 70%;
    height: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: #4183d7;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    transition: 0.5s;
  }
}
