#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  border-right: 1px solid #4183d7;
  background: linear-gradient(to bottom, #0cebeb, #20e3b2, #29ffc6);
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 225px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-align: center;
}

.sidebar-nav li h3 {
  display: block;
  text-decoration: none;
  color: #999999;
  text-transform: uppercase;
}

.sidebar-nav li h3:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

@media (min-width: 850px) {
  #wrapper {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 300px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}

.profile {
  margin: 20px 0;
}

.profile-userpic {
  padding-top: 30px;
}

.profile-userpic img {
  transform: translate(73%, 0px);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 5px;
  background: #4183d7;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
  overflow-wrap: break-word;
}

.profile-usertitle-name {
  color: #4183d7;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: center;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #4183d7;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.profile-userbuttons {
  display: flex;
  justify-content: center;
}

.profile-userbuttons .btn {
  display: block;
  vertical-align: middle;
  margin: auto;
  width: 70%;
  height: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  transition: 0.5s;
}

.profile-userbuttons .btn:hover {
  box-shadow: 0 0 5px #fff;
}
