@media (min-width: 320px) {
  .password-wrapper {
    /* position: relative; */
    padding: 3rem 0;
  }
  .password__list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  .password__filter {
    max-width: 250px;
    width: 38%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .password__list {
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .password__list {
  }
  .password-wrapper {
  }
}
